<!DOCTYPE html>
<html lang='en'>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	{{{body}}}
</body>
<script>
	$("#submit").click(function() {
		var input = $("#newBurger").val();
		$.post("/burger/new", {burger_name: input}, function(data) {
			window.location = data.redirect;
		});
	});

	$(document).on("click", ".devour", function() {
		var name = $(this).data("name");
		$.post("/burger/update", {burger_name: name}, function(data) {
			window.location = data.redirect;
		});
	})
</script>
</html>